<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
  
 <%   usersWithSecrets.forEach(function (user){ %>  <!-- tapping into 'usersWithSecrets' from our app.js. it will loop throught that array of secrets in our db-the callback will take crar of this looping.  -->
    <p class="secret-text"><%=user.secret%></p>                            <!-- is 'user' from the var we just crated isnisde the callback?  for each those users we will render the secrets field inside a p tag.  -->
    <%      }) ;  %>
    <!-- ANGELA HAS A FINSIHED VERSION OF THIS RIGHT BEFORE THE INTRO TO REACT MODULES -->
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
